.site-wrap {
  display: flex;
}
.btn {
  background: transparent;
  border: 1px solid #000;
  transition: 300ms all ease-in-out;
  &.active {
    color: #fff;
    background: blue;
  }
}
.panel {
  width: 100%;
  max-width: 320px;
  padding-right: 20px;
}
.scene {
  display: flex;
  height: 400px;
  width: 100%;
  border: 1px solid #000;
  .shape {
    width: 100px;
    height: 100px;
    background: #ddd;
  }
}
